<% breadcrumb :cmd_part_index, [@base_cmds,@cmd_parts]%>
<% content_for(:option_bar) do %>
	<%= render 'shared/option_list' %>

<% end %>
<div class="table-view">
	<table>
		<caption>LIST OF CONFIRMER</caption>
		<thead>
			<tr>
				<th>  CMD_PART_NO</th>
				<th> CMD_PART_MNEMONIC</th>

			</tr>
		</thead>
<tbody>

<% @cmd_parts.each do |f| %>
	<tr class="theShower text-center">
		
			<td><%=f.CMD_PART_NO%></td>
			<td><%=f.CMD_PART_MNEMONIC%></td>
		</tr>
		<% end %>
		</tbody>
	</table>
	</div>



<%= link_to 'New', new_cmd_part_tbl_path %>