
<% content_for(:option_bar) do %>
	<%= render 'shared/option_list' %>

<% end %>
<div class="table-view">
	<table>
		<caption>LIST OF SUBSYSTEM</caption>
		<thead>
			<tr>
				<th> SUBSYSTEM ID</th>
				<th> SUBSYSTEM_NAME </th>

			</tr>
		</thead>
<tbody>


<% @subs.each do |f| %>
	<tr class="theShower text-center">
		
			<td><%= f.SUBSYSTEM_ID  %></td>
				<td><%= f.SUBSYSTEM_NAME %></td>

		</tr>
		
		<% end %>

				</tbody>
	</table>
	</div>


<%= link_to 'New', new_subsystem_tbl_path %>
